:root {
    --darkCyan: #0e7490;
    --lightCyan: #a5f3fc;
    --font-color: #cffafe;
    --font-fam: Roboto, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 8fr 0.5fr;
}

/** SIDEBAR **/
.sidebar {
    grid-row: 1 / 4;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    display: grid;
    gap: 30px;
    background-color: var(--darkCyan);
    padding-top: 10px;
    padding-left: 20px;
}

.sidebar li {
    color: var(--font-color);
    font-family: var(--font-fam);
    font-weight: 400;
    font-size: 1.1rem;
}

.sidebar li:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
}

.dashboard-menu {
    grid-row: 1 / 2;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-color);
    font-family: var(--font-fam);
    display: flex;
    align-items: center;
    gap: 12px;
}

.click:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
}

.dash-icon {
    height: 3rem;
}

li img {
    height: 1.5rem;
}

.col-1-list li {
    list-style-type: none;
}

.sidebar-menu {
    grid-row: 2 / 3;
}

.sidebar-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.col-2-list li {
    list-style-type: none;
}

.sidebar-second-menu {
    grid-row : 3 / 4
}


/** HEADER **/
.header {
    grid-column: 2 / 3;
    border: 3px solid pink;
}

footer {
    grid-column: 2 / 3;
}

svg {
    width: 1.2rem;
}

.dashboard {
    width: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.searchBox {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    min-height: 40px;
    border: 2px solid black;
    border-radius: 20px;
}

.searchBox input[type=text] {
    border-radius: 20px;
    padding: 6px;
    border: none;
    flex-grow: 2;
  }

  .searchBox input[type=text]:focus {
    outline: none;
  }

  .card {
    width: 250px;
    height: 120px;
    border: 2px solid black;
  }

  .trendingCard {
    border: 2px solid blue;
  }

  .announcementsCards {
    border: 2px solid red;
  }
